RewriteEngine on
RewriteRule ^fetch_schools request.php [NC]
RewriteRule ^one_school/id/(.*) request.php?schid=$1 [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ https://www.school2career.net/404 [R=301,L]